<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUSTOM GPT PLAYGROUND</title>
</head>
<body>
    <h1>CUSTOM GPT PLAYGROUND</h1>
    <input type="text" id="inputText" placeholder="Type something...">
    <button id="submitButton">Submit</button>
    <div id="container"></div>

    <script>
        // Создание соединения через WebSocket
        const socket = new WebSocket('ws://127.0.0.1:8000/ws');

        // Функция отображения сообщений на странице
        function showMessage(message) {
            const messageContainer = document.getElementById('container');
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            messageContainer.appendChild(messageElement);
        }

        // Event handler для сообщения о соединении с сервером
        socket.addEventListener('open', (event) => {
            showMessage('Соединение с сервером установлено.');
        });

        // Event handler для отправки сообщения с сервера
        socket.onmessage = (event) => {
            showMessage("Ответ GPT : " + event.data)
        }

        // Event handler для сообщения о закрытии соединения с сервером
        socket.addEventListener('close', (event) => {
            showMessage('Соединение закрыто.');
        });

        const inputText = document.getElementById("inputText");
        const submitButton = document.getElementById("submitButton");

        submitButton.addEventListener("click", function() {
            const inputValue = inputText.value;
            socket.send(inputValue)
        });
    </script>
</body>
</html>